.vertical-menu {
    width: 200px;
  }
  
  .vertical-menu a {
    background-color: #ff6ab5;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #ff6ab5;
  }